{% extends "layout.html" %}

{% block title %}
History
{% endblock %}

{% block main %}
<table class="table table-striped">
    <thead>
        <th>Symbol</th>
        <th>Shares</th>
        <th>Price</th>
        <th>Transacted</th>
    </thead>

    <tbody>
        {% for purchase in purchases %}
        <tr>
            <td>{{purchase[5]}}</td>
            <td>{{purchase[3]}}</td>
            <td>{{usd(purchase[7])}}</td>
            <td>{{purchase[6]}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}