{% extends "layout.html" %}

{% block title %}
HOME
{% endblock %}

{% block main %}
<table class="table table-striped">
    <thead>
        <th>Symbol</th>
        <th>Name</th>
        <th>Shares</th>
        <th>Price</th>
        <th>TOTAL</th>
    </thead>

    <tbody>
        {% for stock in stocks if stock[3] > 0 %}
        <tr>
            <td>{{stock[0]}}</td>
            <td>{{stock[1]}}</td>
            <td>{{stock[3]}}</td>
            <td>{{usd(stock[2])}}</td>
            <td>{{usd(stock[3] * stock[2])}}</td>
        </tr>
        {% endfor %}

        <tr>
            <td>CASH</td>
            <td colspan='3'></td>
            <td>{{ usd(cash) }}</td>
        </tr>
    </tbody>

    <tfoot>
        <td colspan='4'></td>
        <td> {{ usd(total) }}</td>
    </tfoot>
</table>
{% endblock %}